.header {
  display: flex;
  object-fit: contain;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

.header__image {
  object-fit: contain;
}
