.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 40px;
}

.post__header {
  display: flex;
  padding: 20px;
  align-items: center;
}

.post__date {
  color: rgb(145, 143, 143);
}

.post__name-date {
  display: flex;
  flex-direction: column;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.post__footer {
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}
