.showComment {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showComment__left {
  display: flex;
  flex: 1;
}

.showComment__right {
  flex: 0;
  display: flex;
}

.showComment__avatar {
  margin-right: 10px;
}

.showComment__delete {
  margin-top: 10px;
}
